

<div class="user-card-container" *ngIf="user$ | async as user; else loading">

  <div class="back-icon cursor" (click)="goBack()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
      <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
    </svg>
    Retour
  </div>

  <div class="user-card">
    <div class="update">
      <div class="update-button cursor" [routerLink]="['/form', user.id]" aria-label="Modifier">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
        </svg>
      </div>
    </div>
    
    <h2>{{ user.name }}</h2>

    <div class="infos">
      <div class="user-card-image" >
        <img src="../../../assets/avatar-neutre.png" alt="Avatar" />
      </div>
  
      <div class="user-card-info">
        <span class="title">Infos</span>
        <div class="info-columns">
          <div class="col-infos">
            <span>Username: {{ user.username }}</span>
            <span>Phone: {{ user.email }}</span>
          </div>
          <div class="col-infos">
            <span>Email: {{ user.phone }}</span>
            <span>Website: {{ user.website }}</span>
          </div>
        </div>

        <span class="title">Address</span>
        <div class="info-columns">
          <div class="col-infos">
            <span>Suite: {{ user.address.suite }}</span>
            <span>City: {{ user.address.city }}</span>
          </div>
          <div class="col-infos">
            <span>Street: {{ user.address.street }}</span>
            <span>Lat.: {{ user.address.geo.lat }}</span>
          </div>
          <div class="col-infos">
            <span>Zipcode: {{ user.address.zipcode }}</span>
            <span>Long.: {{ user.address.geo.lng }}</span>
          </div>
        </div>

        <span class="title">Company</span>
        <div class="info-columns">
          <div class="col-infos">
            <span>Name: {{ user.company.name }}</span>
            <span>BS: {{ user.company.bs }}</span>
          </div>
          <div class="col-infos">
            <span>Catch Phrase: {{ user.company.catchPhrase }}</span>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <h3>Posts:</h3>

    <div *ngFor="let post of posts$ | async; let i = index" class="posts">
      <div (click)="togglePost(i)" class="post-title">
        <strong>{{ post.title }}</strong>
      </div>
    
      <div *ngIf="openedPostIndex === i" class="post-body">
        <p>{{ post.body }}</p>
      </div>
    </div>
  </div>
</div>

  <ng-template #loading>
    <p>Chargement des informations...</p>
  </ng-template>
