.user-form-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.back-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
  color: white !important;
}

.back-icon svg {
  margin-right: 8px;
}

.user-form-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-row {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}

.form-label-col {
  flex: 1;
  font-size: 14px;
  color: #333;
}

.form-field-col {
  flex: 2;
}

input[nxInput] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

input[nxInput]:focus {
  border-color: #007bff;
}

.field-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.language-action {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.language-action button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.language-action button[type="button"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.language-action button[type="button"]:not(:disabled) {
  background-color: #007bff;
  color: #fff;
}

.language-action button[type="button"]:not(:disabled):hover {
  background-color: #0056b3;
}

.add-post {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  width: 82px;
  justify-content: center;
  display: flex;
}

.add-post:hover {
  background-color: #0056b3;
}

#loading {
  text-align: center;
  font-size: 16px;
  color: #007bff;
}

.form-group-name {
  margin-bottom: 15px;
}

.form-row p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.user-form-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.back-icon {
  font-size: 16px;
  color: #333;
}

.back-icon svg {
  margin-right: 8px;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.post-preview {
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.add-post-form {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
