<div>
    <h1>Liste des utilisateurs</h1>

    <div class="create-button cursor" [routerLink]="['/form']" aria-label="Ajouter un user">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
      </svg>
      Ajouter nouveau
    </div>

    <div class="user-card-container" *ngIf="users$ | async as users; else loading">
      <div *ngFor="let user of users; trackBy: trackByUserId" class="user-card cursor" [routerLink]="['/details', user.id]">
        <div class="user-card-image" >
          <img src="../../../assets/avatar-neutre.png" alt="Avatar" />
        </div>
        <div class="user-card-info">
          <h3>{{ user.name }}</h3>
          <p><strong>Username:</strong> {{ user.username }}</p>
        </div>
      </div>
    </div>

    <ng-template #loading>
      <p>Chargement des utilisateurs...</p>
    </ng-template>
</div>
